*{
    padding:0;
    margin:0;
}
:root{
    --bgColor:rgb(240, 239, 239);
    --chipColor:#adccd8;
    --primary:#ff3e6c;
   --secoundary: #535665;
}
body{
    margin:1rem;
}

/* chipss */
.chip-input-field-and-enter-btn{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:1rem;
}

.chip-main-container{
    max-width: 60rem;
    flex-basis: 40rem;
    background-color: var(--bgColor);
    margin:auto;
    /* overflow-y: scroll; */
    padding:0.5rem;
    border-radius: 1rem;
}
.chip-input-value{
margin:0.5rem;
border: transparent;
background-color: var(--bgColor);
border-bottom: 1px solid black;
padding:0.2rem;
outline: none;
}
.chip-enter-btn{
    padding:0.2rem 0.5rem;
    border:1px solid var(--primary);
    border-radius: 1rem;
    font-weight: bolder;
    background-color:var(--primary);
    color:black;
}
.chip-output{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:0.5rem;
}
.chip-container{
    display:flex;
    flex-direction: row;
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 5rem;
   
}
.chip-container:active{
    opacity:200%;
}
.chip-input-value:focus{
    border-bottom: 2px solid #ff3e6c;
}
.chip-text{

    width:fit-content;
    padding: 8px 10px;
    border-radius: 3rem;
    font-weight: 300;
}
.chip-crossbutton{
    font-size: 0.6rem;
    color:white;
    background-color:#838386 ;
  padding:2px 4px;
    border-radius: 1rem;
    cursor: pointer;
}


/* chips */



/* badge */


.badge-container{
    display:flex;
    flex-direction: column;
    justify-items:center ;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 2rem auto;
    padding:1rem;
    background-color: var(--bgColor);
    border-radius: 1rem;
    flex-basis: 40rem;
    
}
.badge-text{
    position :relative;
    /* background-color: violet; */
    padding:10px;
    width:fit-content;
    color:black;
    display:flex;

}

.small-badge,
.large-badge,
.left-badge,
.bottom-left-badge,
.right-badge,
.icon-badge{
    position :absolute;
    background-color:#ff3e6c;
    width:fit-content;
    top:0;
    right:0;
    font-size: 0.7rem;
    color:white;
    padding:0.1rem  0.3rem;
    border-radius: 1rem;
}

.large-badge{
    font-size: 1rem;
    padding:0.1rem  0.4rem;
    font-weight: bolder;
}

.left-badge{
 right:2rem;
}
.bottom-left-badge
{
    right:2rem;
    top:auto;
    bottom: 0rem;
}
.icon-badge{
    top: 0.2rem;
    right:0.2rem;
    /* padding:0.1rem  0.3rem; */
}

.badge-action-button,.icon{
    padding:0.2rem;
    margin:0 0 0 0.5rem;
    border-radius: 0.3rem;
    background-color: rgb(37, 82, 231);
    color:white;
    border:1px solid rgb(37, 82, 231);
    cursor: pointer;
    
}
.icon{
    background-color:#25D366;
    color:white;
    border:1px solid white;
    font-size: 2rem;
    border-radius: 0.3rem;
}

/* badges */



/* header component */
/* standard header */

.header-main-container{
display:flex;
flex-direction: row;
flex-wrap: wrap;
max-width: 50rem;
justify-content: center;
align-items: center;
}
.header-styles-title{
font-size: 1.5rem;
padding:1rem;
text-align: center;
}

.header-and-content-container{
    height:20rem;
    overflow-y: scroll;
}
.header-and-content-container i{
    padding:0.3rem;
}
.header-and-content-container i:hover{
background-color: #554448;

border-radius: 1rem;
}
.header-component{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: var(--primary);
    color:white;
    align-items: center;
    padding:0.8rem;
   
}
.header-left-items{
    display:flex;
    flex-direction: row;
    font-size: 1rem;
    gap:2rem;
    align-items: center;

}
.header-title{
    font-size: 1.5rem;

}
.header-right-items{
    display:flex;
    flex-direction: row;
    font-size: 1rem;
    gap:1.5rem;
    align-items: center;

}
.header-content{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    margin:1rem;
}
/* fixed header */

.header-component1{
    position:sticky;
     top:0; 
}
/* Short-Always Collapsed */

.header-component2{
    justify-content:flex-start;
    gap:2rem;
    width:fit-content;
    border-bottom-right-radius:1.5rem ;
    padding:1rem;
    position: sticky;
    top:0;
}


/* done header component */


/* Drawer component */
.drawer-title{
    font-weight:bold;
    font-size: 4rem;
    text-decoration:wavy;
}
.drawer-container{
display:flex;
flex-direction: column;
padding:1rem;
margin-bottom:1rem;
gap:1rem;
color:var(--secoundary);
width:fit-content;
background-color:var(--bgColor);
border-radius: 0.3rem;
min-width: 11rem;
}
.drawer-title{
    color:rgb(31, 29, 29);
    font-weight: bold;
    font-size: 1.4rem;
}
.drawer-title-and-subtext{
    display:flex;
    flex-direction: column;
    
}
.Drawer-list{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    text-decoration: none;
    list-style-type:none;
}
.drawer-list-item{
    display:flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    color:rgb(31, 29, 29);
    padding:0.2rem;
    
}
.drawer-list-item i{
    padding:5px;
    width:1.8rem;
    /* color:var(--secoundary); */
   
}
.drawer-list-item:hover{
    background-color:#9e9d9d ;
    color:black;
    border-radius: 0.3rem;

}

.drawer-list-item.select{
    background-color: pink;
    color:var(--primary) ;
    border-radius: 0.3rem;
}

/* header and drawer component */
.drawer-container1{
border-radius: 0;
}
.Drawer-list1{
height:14.5rem;
overflow-y: scroll;
min-width:7rem;

}
.drawer-and-header-container{
    display:flex;
    margin:1;
   

}

.hide-drawer{
    display:none;
}

/* done drawer component */




